{{#each centros}}
<article class="centro" data-cod-centro="{{cod}}">
    <header class="row">
        <div class="col-sm-8">
            <h4>{{nombre}}</h4>
            <span class="codigo">{{cod}}</span>
        </div>
        <div class="col-sm-3">
            <div>{{concello}}</div>
            <div>{{provincia}}</div>
        </div>
        <div class="col-sm-1">
            <i class="fa fa-arrows-alt sortable-handle" aria-hidden="true"></i>
            <i class="fa fa-trash" aria-hidden="true" onclick="app.trash.push({{cod}}); app.load_data();"></i>
        </div>
    </header>

    <section class="row osm align-items-end">
        {{#if osm}}
            <div class="col col-md-2">
                <img width="25" src="img/distanceicon.png" alt="Distancia en linea recta" /><span>{{prettyDistance osm.distancia}}</span>
            </div>
            <div class="col col-md-2">
                <img width="25" src="img/timeicon.png" alt="Tiempo en coche" /><span>{{prettyTime osm.tiempo}}</span>
            </div>
        {{/if}}
    </section>
</article>
{{/each}}
